<configuration>
    <system.serviceModel>
        <services>
            <!-- Servis tanımı -->
            <service name="Namespace.WcfService1">
                <!-- Endpoint tanımı -->
                <endpoint address="" binding="basicHttpBinding" contract="Namespace.IKurServis" />
                <!-- Servis host ayarları -->
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/MyService" />
                    </baseAddresses>
                </host>
            </service>
        </services>

        <!-- Binding ayarları -->
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IKurServis" />
            </basicHttpBinding>
        </bindings>

        <!-- Servis davranışları (behaviors) -->
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- Metadata yayını için ayarlar -->
                    <serviceMetadata httpGetEnabled="true" />
                    <!-- Hata ayıklama için ayarlar -->
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
